:root{
    --main-color:#fff;
  }
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-family: sans-serif;
	background: linear-gradient(90deg, #C7C5F4, #776BCC);		
}
h1{
	color: #fff;
	text-align: center;
}
.form-register{
	width: 95%;
	max-width: 500px;
	margin: auto;
	background: white;
	border-radius: 7px;
}
.form-titulo{
	background: #776BCC ;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-weight: 100;
	font-size: 30px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;

}
.contenedor-inputs{
	padding: 10px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
input{
	margin-bottom: 15px;
	padding: 15px;
	font-size: 16px;
	border-radius: 3px;
	border: 1px solid darkgray;
}
.input-48{
	width: 48%;
}
.input-100{
	width: 100%;
}
.btn-enviar{
	background: #776BCC;
	color: #fff;
	margin: auto;
	padding: 10px 40px;
	cursor: pointer;
	font-size: 20px;

}
.btn-enviar:hover{
background: #9832e7;
transform: scale(1.1);
}
.btn-enviar:active{
	transform: scale(1.2);
}
.form-link{
	width: 100%;
	margin: 7px;
	font-size: 14px;
	text-align: center;
}


.main-header{
    background: #776BCC;
    width: 100%;
    height:50px;
  }
  
  nav{
    position: absolute;
    left:0;
    top:0;
    width: 200px;
    top:50px;
    height:calc(100vh - 50px);
    background:#5043ad;
    transform:translateX(-100%);
    transition:.4s ease;
  }
  
  .navigation li{
    list-style:none;
    width: 100%;
    border-bottom: 1px solid rgba(255,255,255,.5);
  }
  
  .navigation a{
    color:var(--main-color);
    display: block;
    line-height:3.5;
    padding: 0 10px;
    text-decoration:none;
    transition:.4s ease;
  }
  
  .navigation a:hover{
    transform:translateX(10%);
  }
  
  #btn-nav{
    display: none;
    height: 100px;
  }
  
  #btn-nav:checked ~ nav{
    transform:translateX(0);
  }
  
  .btn-nav{
    color:var(--main-color);
    font-size:30px;
    position: absolute;
    left:0;
    top:0;
    cursor:pointer;
    padding:6.5px 15px;
    transition:.2s ease;
    background:rgba(0,0,0,.1);
  }
  
  .btn-nav:hover{
    background:rgba(0,0,0,.3);
  }